option_settings: 
    "aws:elasticbeanstalk:container:python":
        WSGIPath: application:application

""" 
option_settings: — Top-level key to define custom settings for the Elastic Beanstalk environment.

"aws:elasticbeanstalk:container:python" — Namespace for Python-specific configuration options.

WSGIPath: application:application — This tells Elastic Beanstalk:

Look for a file named application.py

Within that file, find the WSGI callable named application

"""